/* Variables */
:root {
    --brand-1-a: #45A29E;
    --brand-2-a: #66FCF1;
    --brand-3-a: #C5C6C7;
    --brand-4-a: #1F2833;
    --brand-5-a: #0B0C10;
    --brand-font: "DM Sans", sans-serif;
}

/* Universal Styles */
body {
    background-color: var(--brand-5-a);
    color: var(--brand-3-a);
    font-family: var(--brand-font);
}

ul {
    list-style-type: none;
}

a {
    color: var(--brand-2-a);
    font-family: var(--brand-font);
}

a:hover {
    color: var(--brand-3-a)
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "hero hero hero"
    "runs runs runs"
    "about about about"
    "contact contact contact"
    "footer footer footer";
  }

  @media only screen and (max-width: 768px) {
    .wrapper {
      grid-template-areas: 
      "header header"
      "nav nav"
      "hero hero"
      "hero hero"
      "hero hero"
      "runs runs"
      "about about"
      "contact contact"
      "footer footer";
    }
  }

  @media only screen and (max-width: 430px) {
    .wrapper {
      grid-template-areas: 
      "header"
      "nav"
      "hero"
      "hero"
      "hero"
      "runs"
      "about"
      "contact"
      "footer";
    }
  }

/* Header */
.main-head {
  grid-area: header;
  display: grid;
  justify-items: center;
}

.main-head img{
  height: 20rem;
}

@media screen and (max-width: 768px) {
  .main-head img {
    height: 15rem;
  }
  
}

@media only screen and (max-width: 430px){
  .main-head img {
    height: 7.5rem;
  }
}

/* Navigation */
.main-nav {
  grid-area: nav;
  display: grid;
  justify-items: center;
}

.main-nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--brand-font);
  font-size: 1.5rem;
  gap: 5rem;
}

.main-nav a {
  text-decoration: none;
}

@media only screen and (max-width: 430px){
  .main-nav ul {
    grid-template-columns: 1fr;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}

/* Hero Image */
.hero-image {
 grid-area: hero;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 margin-top: -27rem;
 z-index: -1;
}

.hero-image img {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hero-image {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -20rem;
  }

  .hero-image img {
    height: 645px;
  }
}

@media only screen and (max-width: 430px) {
  .hero-image {
    margin-top: 0;
  }

  .hero-image img {
    height: auto;
  }
}

/* Running Section */
.main-run {
  grid-area: runs;
  text-align: center;
  font-size: 3rem;
  font-family: var(--brand-font);
  margin: 30px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 30px;
}

.main-run h1 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.run-info-card {
  grid-row-start: 2;
  font-family: var(--brand-font);
  background-color: var(--brand-1-a);
  color: var(--brand-4-a);
  padding: 20px;
  border-radius: 6px;
}

.run-info-card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.run-info-card p {
  font-size: 1.5rem;
}

.run-info-card img {
  height: 20rem;
}

@media screen and (max-width: 768px) {
  .main-run {
    grid-template-columns: 1;
    grid-template-rows: 4;
  }

  .card-one {
    grid-row-start: 2;
  }

  .card-two {
    grid-row-start: 3;
  }

  .card-three {
    grid-row-start: 4;
  }

  .main-run h1 {
    grid-column-start: 1;
  }

  @media only screen and (max-width: 430px){
    .run-info-card img {
      height: 15rem;
    }
  }
  
}

/* About Us */
.main-about {
  grid-area: about;
  background-color: var(--brand-3-a);
  color: #1F2833;
  font-family: var(--brand-font);
  font-size: 1.5rem;
  padding: 60px;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.main-about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main-about p {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  .main-about {
    margin-left: 0;
    margin-right: 0;
  }

  .main-about p {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Contact Info */
.main-contact {
  grid-area: contact;
  display: grid;
  text-align: center;
  background-color: var(--brand-4-a);
  color: var(--brand-3-a);
  font-size: 1.5rem;
  font-family: var(--brand-font);
  height: 14rem;
  align-content: center;
}

.main-contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-contact h3 {
  margin-bottom: 1rem;
}

/* Footer */
.main-footer {
  display: grid;
  grid-area: footer;
  background-color: #45A29E;
  color: var(--brand-5-a);
  font-family: var(--brand-font);
  height: 4rem;
  padding-left: 1.5rem;
  align-content: center;
  font-size: 1.5rem;
  text-align: center;
}

